body{
margin:0;
overflow:hidden;
background:black;
font-family:Arial;
}

/* MARVEL INTRO */
#intro{
position:fixed;
width:100%;
height:100vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
background:black;
color:red;
z-index:9999;
animation:fadeOut 6s ease 5s forwards;
text-align:center;
}

#intro h1{
font-size:3rem;
letter-spacing:5px;
text-shadow:0 0 30px red;
animation:glow 1s infinite alternate;
}

#intro h3{
color:gold;
margin-top:20px;
}

@keyframes glow{
from{opacity:0.6;transform:scale(1);}
to{opacity:1;transform:scale(1.1);}
}

@keyframes fadeOut{
to{opacity:0;visibility:hidden;}
}

/* CANVAS */
canvas{
display:block;
}

/* CLICK EFFECT */
.flash{
position:fixed;
width:100%;
height:100%;
background:white;
opacity:0;
pointer-events:none;
animation:flash 0.3s;
}

@keyframes flash{
0%{opacity:1;}
100%{opacity:0;}
}